h1 {
    font-size: 24px;
}

h2 {
    margin: 0;
    font-size: 1em;
}

h3 {
    margin: 5px 0;
    font-size: 0.8em;
    color: hsl(14, 86%, 42%);
}

h4 {
    font-size: 1.2rem;
    color: rgb(199, 58, 15);
}

body {
    background-color: rgb(252, 249, 247);
    font-family: "Red Hat Text", sans-serif;
}

@media (max-width: 768px) {
    h1{
        font-size: 2em;
    }
}